<div class="sidebar bg-dark text-white d-flex flex-column align-items-center">
    <img src="../../assets/my-profile-img.jpg" alt="Avatar" class="rounded-circle mb-3" width="100">
    
    <h3>Alex Smith</h3>
    <p>I'm Developer</p>
    <nav class="nav flex-column">
      <a class="nav-link active text-white" href="#">Home</a>
      <a class="nav-link text-white" href="#">About</a>
      <a class="nav-link text-white" href="#">Resume</a>
      <a class="nav-link text-white" href="#">Portfolio</a>
      <a class="nav-link text-white" href="#">Services</a>
      <a class="nav-link text-white" href="#">Contact</a>
    </nav>
  </div>
  
